<!DOCTYPE html>
<html>

<head>
  <title>HeroSquad</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/app.css'>
  <link href="https://fonts.googleapis.com/css?family=Monoton|Audiowide|Baloo" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="container">

      #parse( $template )


    </div>
    <footer>
      <p class="contact">Email: wesleymbate@gmail.com<br>Copyright 2018 wesleymbate - All Rights Reserved</p>

    </footer>
  </div>
</body>

</html>
