<div class="container contsuccess">
<div class="card card2">
<h1 id="successh1">Success!
<img id="sucessIcon" src="images/sucess.png">
</h1>

<p>Your Squad has been saved.</p>
</div>


<a class="btn btn-outline-dark" href="/">Back Home</a>
<a  class="btn btn-outline-success" href="/squads">View your Squads</a>
</div>
