<form action="/squades" method="post">
    <label for="squad-name"> Squad-name</label>
    <input id="squad-name" name="squad-name" type="text">

    <button type="submit" class="btn btn-outline-dark">Create</button>
</form>
